html, body {
  width: 100%;
  height: 100%;
  /*overflow: visible;*/
}

.navbar .navbar-fixed-top {
  background-color: transparent;
  /*background-color: rgba(16, 10, 4, 0.8);*/
  margin-bottom: 0px;
  margin-top: 30px;
}

.navbar-nav li a {
  text-align: right;
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 25px;
}

.navbar-toggle .icon-bar {
  background-color: #E8410C;
  height: 5px;
  width: 30px;
}

/*method to keep navbar always collapsed*/
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}


.jumbotron {
  background: rgba(16, 10, 4, 0.8);
  margin-bottom: 0px;
  min-height: 750px;
  padding-top: 150px;
}

.jumbotron h1 {
    color: #e7d1bc;
    font-family: 'PT Serif', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 88px;
    text-align: left;
    margin-right: 25px;
    padding-bottom: 50px;
}

.jumbotron p {
    text-align: left;
    margin-right: 100px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 20px;
    color: #e7d1bc;
}

#profile_pic {
  width: 400px;
  margin-top: 15px;
  margin-left: 50px;
}

.sections h1 {
  text-align: center;
}

p.lead {
  text-align: center;
}

#projects {
  background: #e7d1bc;
}


#resume {
  background: rgba(16, 10, 4, 0.5);
}

#contact {
  background: #e7d1bc;
}

a {
  color: #E8410C;
}

#menu {
  width: 50px;
}

.icons img {
  width: 50px;

}

#icon_group {
 text-align: center;
 margin-top: 20px;
}

#footer {
  margin-top: 30px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  color: #e7d1bc;
 }