html, body {
  width: 100%;
  height: 100%;
  /*overflow: visible;*/
}

.navbar .navbar-fixed-top {
  background-color: rgba(16, 10, 4, 0.8);
  margin-bottom: 0px;
  margin-top: 30px;
}

.navbar-nav li a {
  text-align: right;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 25px;
}

/*.icon-bar {
  background-color: #E8410C;
  size: 100px;
}*/
.navbar-toggle .icon-bar {
  background-color: #E8410C;
  height: 5px;
  width: 30px;
}
.jumbotron {
  background: rgba(16, 10, 4, 0.8);
  margin-bottom: 0px;
  height: 700px;
  padding-top: 100px;
}

.jumbotron h1 {
    color: #e7d1bc;
    font-family: 'PT Serif', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 88px;
    text-align: left;
    padding-bottom: 50px;
    margin-right: 25px;
}

.jumbotron p {
    text-align: left;
    margin-right: 100px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 20px;
    color: #e7d1bc;
}

#profile_pic {
  width: 400px;
  margin-top: 15px;
}

/*#external_links {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 33px;
  color: #e7d1bc;
}*/

#projects {
  background: #e7d1bc;
}

#resume {
  background: rgba(16, 10, 4, 0.5);
}


a {
  color: #E8410C;
}

#menu {
  width: 50px;
}

.icons img {
  width: 50px;

}

#icon_group {
 text-align: center;
 margin-top: 20px;
}

#footer {
  margin-top: 30px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  color: #e7d1bc;
 }